/* Settings */

// Font-family

$base-font: 'Open Sans', sans-serif;

// Colors

$primary-color: #1088c1;
$white: #ffffff;
$dark-blue: #1c2632;
$medium-blue: #11719f;
$black: #292d31;
$dark-black: #1d1f20;
$dark-black-30: rgba($dark-black, 0.3);
$dark-black-70: rgba($dark-black, 0.7);
$dark-black-7:  rgba($dark-black, 0.07);
$black-50: rgba($black, 0.5);
$dark-blue-50: rgba($dark-blue, 0.5);
$dark-blue-30: rgba($dark-blue, 0.3);
$dark-blue-70: rgba($dark-blue, 0.7);
$light-grey: #bbbbbc;
$dark-grey: #cbcbcb;
$dark-grey-50: rgba($dark-grey, 0.5);
$white-10: rgba($white, 0.1);
$white-30: rgba($white, 0.3);
$white-50: rgba($white, 0.5);
$error-color: #e03232;
$border-color: #c2c2c2;
$table-border-color: $dark-black-7;
$background-color: #ececec;

// Font sizes
$font-size-base: 16px !default;
$xs: 12px;  $sm: 14px;  $md: 16px;  $lg: 18px;  $xl: 24px;

$text-font-sizes: (
		xs: $xs, sm: $sm, md: $md, lg: $lg, xl: $xl
) !default;

$heading-font-sizes: (
		h5: $xs, h4: $sm, h3: $md, h2: $lg, h1: $xl
) !default;

// Font weights

$fw-light: 300;
$fw-regular: 400;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;

// Border radius

$radius-lg: 5px !default;
$radius-sm: 3px !default;
$radius-xs: 1px !default;

// Shadows

$button-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.5);