/* Settings */

// Font-family

$base-font: 'Open Sans', sans-serif;

// Colors

$color-primary: #f7df1e;
$color-secondary: #1A2930;
$color-secondary-70: rgba($color-secondary, 0.7);
$color-tertiary: #bec2c9;
$color-grey: #e4e4e4;
$color-body: #fbfaf9;
$color-error: #e03232;
$color-disable: #878b92;
$color-green: #7ab2a5;
$color-blue: #6b9acb;

$main-colors: (
		primary: $color-primary, secondary: $color-secondary, tertiary: $color-tertiary, grey: $color-grey
) !default;

// Font sizes

$font-size-base: 16px !default;
$xs: 12px;  $sm: 14px;  $md: 16px;  $lg: 18px;  $xl: 24px;

$text-font-sizes: (
		xs: $xs, sm: $sm, md: $md, lg: $lg, xl: $xl
) !default;

$heading-font-sizes: (
		h5: $xs, h4: $sm, h3: $md, h2: $lg, h1: $xl
) !default;

// Font weights

$fw-light: 300;
$fw-regular: 400;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;

// Border radius

$radius-lg: 5px !default;
$radius-sm: 3px !default;
$radius-xxs: 1px !default;

// Shadows

$button-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.5);