/* Header */

header {
	background-color: $dark-blue;
	padding: 13px 0;
	box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.2);

	.container-lg {
		@include flexbox();
		@include justify-content(space-between);
		@include align-items(center);
	}

	.left-content, .right-content {
		width: calc((100% - 490px) / 2);
	}

	.right-content {

		li {
			padding: 0 15px;

			a {
				color: $primary-color;
				@include transition(0.3s);

				&:hover {
					opacity: 0.8;
				}
			}

			&:nth-child(1) {
				font-size: 20px;
			}

			&:nth-child(2) {
				font-size: 21px;
			}

			&:nth-child(3) {
				font-size: 19px;
			}

			&:nth-child(4) {
				font-size: 18px;
			}

			&:nth-child(5) {
				font-size: 28px;
				padding-right: 25px;
			}

			&:nth-child(6) {
				font-size: 19px;
				padding-left: 25px;
				position: relative;

				&:before {
					content: " ";
					border-right: 1px solid $white-10;
					position: absolute;
					left: 0;
					height: 20px;
					@include YAlign();
				}
			}
		}
	}
}