h3 {
  text-align: left;
}
h1 {
  font-size: 36px;
  font-weight: 500;
  font-family: Georgia;
  color: rgb(77, 57, 75);
  text-align: center;
}
.highlight {
  text-align: left;
  background-color: rgb(164, 184, 192);
}
