/* Font icons */

@import "settings";

@font-face {
	font-family: 'Cyber';
	src:  url('#{$icomoon-font-path}/cyber.eot?tkobj6');
	src:  url('#{$icomoon-font-path}/cyber.eot?tkobj6#iefix') format('embedded-opentype'),
	url('#{$icomoon-font-path}/cyber.ttf?tkobj6') format('truetype'),
	url('#{$icomoon-font-path}/cyber.woff?tkobj6') format('woff'),
	url('#{$icomoon-font-path}/cyber.svg?tkobj6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'Cyber' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
	@return unquote("\"") + $str + unquote("\"");
}

.icon-check {
	&:before {
		content: unicode($icon-check);
	}
}

.icon-hamburger {
	&:before {
		content: unicode($icon-hamburger);
	}
}

.icon-settings {
	&:before {
		content: unicode($icon-settings);
	}
}

.icon-account {
	&:before {
		content: unicode($icon-account);
	}
}

.icon-home {
	&:before {
		content: unicode($icon-home);
	}
}

.icon-question {
	&:before {
		content: unicode($icon-question);
	}
}

.icon-logout {
	&:before {
		content: unicode($icon-logout);
	}
}

.icon-notification {
	&:before {
		content: unicode($icon-notification);
	}
}

.icon-arrow-right {
	&:before {
		content: unicode($icon-arrow-right);
	}
}

.icon-arrow-left {
	&:before {
		content: unicode($icon-arrow-left);
	}
}

.icon-search {
	&:before {
		content: unicode($icon-search);
	}
}

.icon-refresh {
	&:before {
		content: unicode($icon-refresh);
	}
}

.icon-reorder {
	&:before {
		content: unicode($icon-reorder);
	}
}

.icon-sort-down {
	&:before {
		content: unicode($icon-sort-down);
	}
}

.icon-sort-up {
	&:before {
		content: unicode($icon-sort-up);
	}
}

.icon-sort-right {
	&:before {
		content: unicode($icon-sort-right);
	}
}

.icon-upload {
	&:before {
		content: unicode($icon-upload);
	}
}

.icon-download {
	&:before {
		content: unicode($icon-download);
	}
}

.icon-edit-1 {
	 &:before {
		 content: unicode($icon-edit-1);
	 }
 }

.icon-edit-2 {
	&:before {
		content: unicode($icon-edit-2);
		margin-left: -1em;
	}
}

.icon-edit-3 {
	&:before {
		content: unicode($icon-edit-3);
		margin-left: -1em;
	}
}

.icon-plus {
	&:before {
		content: unicode($icon-plus);
	}
}

