/* Font icon settings */

$icomoon-font-path: "../fonts/font-icons/fonts" !default;

$icon-check: \e900;
$icon-settings: \e901;
$icon-account: \e902;
$icon-plus: \e903;
$icon-hamburger: \e909;
$icon-home: \e910;
$icon-arrow-right: \e911;
$icon-arrow-left: \e905;
$icon-logout: \e90a;
$icon-notification: \e90b;
$icon-question: \e90c;
$icon-refresh: \e90d;
$icon-reorder: \e90e;
$icon-search: \e90f;
$icon-sort-up: \e915;
$icon-sort-down: \e904;
$icon-sort-right: \e912;
$icon-upload: \e914;
$icon-download: \e913;
$icon-edit-1: \e906;
$icon-edit-2: \e907;
$icon-edit-3: \e908;