@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

h2 {
  font-size: 36px;
  font-weight: 500;
  font-family: cursive;
  color: rgb(77, 57, 75);
}

.highlight {
  text-align: left;
  background-color: rgb(133, 179, 197);
}

.Switch {
  margin-top: 5px;
  margin-bottom: 5px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
