/* Box */

.box {
	background-color: $white;

	&.bordered {
		border: 1px solid $border-color;
		box-shadow: 0 5px 10px 0 rgba(4, 4, 4, 0.15);
		border-radius: $radius-md;
	}

	&.half-bordered {
		border-bottom-right-radius: $radius-md;
		border-bottom-left-radius: $radius-md;
		border: 1px solid $border-color;
		border-top: 0;
		box-shadow: 0 5px 10px 0 rgba(4, 4, 4, 0.15);
	}
}