/* Buttons */

.btn {
	font-family: $base-font;
	width: 100%;
	height: 45px;
	line-height: 41px;
	text-align: center;
	display: inline-block;
	font-size: $fs-18;
	font-weight: $fw-semi-bold;
	text-transform: capitalize;
	white-space: nowrap;
	border-radius: $radius-sm;
	cursor: pointer;
	@include transition(0.3s);
	border: 2px solid transparent;

	&:hover {
		opacity: 0.8;
	}

	// Filled buttons

	&.filled {
		box-shadow: $button-shadow;

		&.primary {
			background-color: $primary-color;
			color: $white;
			border-color: $medium-blue;
		}

		&.white {
			background-color: $white;
			color: $primary-color;
		}
	}

	// Outline buttons

	&.outline {
		background-color: $white;
		border: 2px solid $medium-blue;
		color: $primary-color;
	}

	// Link buttons

	&.link {
		border: 0;
		background-color: transparent;

		&.black {
			color: $black;
			line-height: 41px;
		}
	}

	&[disabled], &.disabled {
		border: 0;
		cursor: default;
		opacity: 0.65;
	}

	&.min-size-160 {
		min-width: 160px;
	}
}

.btn-icon {
	@include flexbox();
	@include align-items(center);

	i {
		color: $white;
		position: relative;
		left: 55px;
		z-index: 1;
		font-size: $fs-18;
	}

}