/* Content elements */

// Body

body {
	font-family: $base-font;
	font-weight: $fw-semi-bold;
	font-size: $fs-16;
	color: $black;
	min-height: 100vh;
	background-color: $background-color;
	position: relative;
	padding-bottom: 120px;

	&.blue {
		background-color: $dark-blue;
		@include bgImageCenter();
		background-image: url("../images/pattern.png");
		@include flexbox();
		@include justify-content(center);
		@include align-items(center);
	}
}

.container-md {
	width: 100%;
	max-width: 1500px;
	margin-right: auto;
	margin-left: auto;
	padding: 0 15px;
}

.container-lg {
	width: 100%;
	max-width: 1830px;
	margin-right: auto;
	margin-left: auto;
	padding: 0 15px;
}

.relative {
	position: relative;
}

.absolute {
	position: relative;
}