/* Custom scroll */

._mCS_1 .mCSB_dragger .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: $dark-grey-50!important;

	&:hover {
		background-color: $dark-grey!important;
	}
}

.mCSB_draggerRail {
	background-color: $white!important;
}

.horizontal-scroll {
	overflow: auto;
}

