/* Icon group */

.icon-group {
	@include flexbox();
	@include align-items(center);
	//@include align-items(flex-end);
	padding-bottom: 15px;

	.btn {
		@include flexbox();
	}

	li {
		padding-right: 25px;

		i, a {
			color: $dark-blue-50;
			font-size: $fs-18;
			@include transition(0.3s);
		}

		a {

			&:hover {
				opacity: 0.8;
			}
		}
	}
}
