/* Logo */

.logo {
	width: 100%;
	text-align: center;
	@include transition(0.3s);

	&-lg {
		max-width: 237px;
	}

	&-md {
		max-width: 154px;
	}

	&:hover {
		opacity: 0.7;


		img {
			max-width: 100%;
		}
	}
}