/* Logo */

.logo {
	max-width: 100px;
	min-height: 100px;
	width: 100%;
	text-align: center;
	@include transition(0.3s);
	@include flexbox();
	@include align-items(center);

	a {

		&:hover {
			opacity: 0.7;
		}
	}

	img {
		max-width: 100%;
	}
}